<div style="align-self: center; " class="col-xl-6">
    <div class= 'card' style="height:auto;">
            <div class ='card-header bg-light' ><h2>Alumnos Inscriptos</h2></div>
            <div class='card-body card-columns' style="font-size: 18px">
              <div *ngIf="!cargada">
                NO HAY ALUMNOS INSCRIPTOS
              </div>
              <div *ngIf="cargada">
                 <li *ngFor="let alumno of listaAlumnos">
                  <a [routerLink]= "">{{alumno.nombre}} {{alumno.apellido}} </a>
                </li>
              </div>
            </div>
    </div>
</div>